[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
[submodule "vendor/github.com/ogier/pflag"]
	path = vendor/github.com/ogier/pflag
	url = https://github.com/ogier/pflag.git
[submodule "vendor/github.com/texttheater/golang-levenshtein"]
	path = vendor/github.com/texttheater/golang-levenshtein
	url = https://github.com/texttheater/golang-levenshtein.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/google.golang.org/grpc"]
	path = vendor/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go.git
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf.git
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext.git
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid.git
[submodule "vendor/gopkg.in/natefinch/npipe.v2"]
	path = vendor/gopkg.in/natefinch/npipe.v2
	url = https://github.com/natefinch/npipe.git
[submodule "vendor/bitbucket.org/kardianos/rsync"]
	path = vendor/bitbucket.org/kardianos/rsync
	url = https://github.com/havoc-io/rsync.git
