[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors.git
[submodule "vendor/github.com/texttheater/golang-levenshtein"]
	path = vendor/github.com/texttheater/golang-levenshtein
	url = https://github.com/texttheater/golang-levenshtein.git
[submodule "vendor/gopkg.in/natefinch/npipe.v2"]
	path = vendor/gopkg.in/natefinch/npipe.v2
	url = https://github.com/natefinch/npipe.git
[submodule "vendor/github.com/rjeczalik/notify"]
	path = vendor/github.com/rjeczalik/notify
	url = https://github.com/rjeczalik/notify.git
[submodule "vendor/github.com/howeyc/gopass"]
	path = vendor/github.com/howeyc/gopass
	url = https://github.com/havoc-io/gopass.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto.git
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://github.com/golang/text.git
[submodule "vendor/github.com/bmatcuk/doublestar"]
	path = vendor/github.com/bmatcuk/doublestar
	url = https://github.com/bmatcuk/doublestar.git
[submodule "vendor/github.com/shibukawa/extstat"]
	path = vendor/github.com/shibukawa/extstat
	url = https://github.com/shibukawa/extstat.git
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://github.com/golang/sys.git
[submodule "vendor/github.com/google/uuid"]
	path = vendor/github.com/google/uuid
	url = https://github.com/google/uuid.git
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag.git
