# Set the language.
language: go

# Set up the build matrix, with macOS being responsible for release build and
# coverage profile uploading. Allow failure on Go tip - we just want to be able
# to track behavior there.
matrix:
  include:
    - go: 1.9.x
      os: osx
      env: MUTAGEN_COVERAGE_UPLOADER=true MUTAGEN_RELEASE_UPLOADER=true
    - go: 1.9.x
      os: linux
    - go: tip
      os: osx
    - go: tip
      os: linux
  allow_failures:
    - go: tip

# Fetch vendored third-party dependencies.
before_install:
  - git submodule init
  - git submodule update
  - if [[ "$MUTAGEN_COVERAGE_UPLOADER" == "true" ]]; go get -u -v github.com/wadey/gocovmerge ; fi
  - if [[ "$MUTAGEN_COVERAGE_UPLOADER" == "true" ]]; go get -u -v github.com/mattn/goveralls ; fi

# Disable the default install step, which will try to do "go get -t -v ./..."
# only to find that it doesn't work for vendored dependencies.
install:
  - echo "Skipping the default go get..."

# Run tests.
script:
  - go version
  - go test -v -race -cover -coverprofile=message.cover github.com/havoc-io/mutagen/message
  - go test -v -race -cover -coverprofile=multiplex.cover github.com/havoc-io/mutagen/multiplex
  - go test -v -race -cover -coverprofile=rsync.cover github.com/havoc-io/mutagen/rsync
  - go test -v -race -cover -coverprofile=sync.cover github.com/havoc-io/mutagen/sync
  - go test -v -race -cover -coverprofile=url.cover github.com/havoc-io/mutagen/url
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then go run scripts/build.go --mode=release ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then go run scripts/build.go --mode=testing ; fi
  - if [[ "$MUTAGEN_COVERAGE_UPLOADER" == "true" ]]; then gocovmerge *.cover > combined.cover ; fi
  - if [[ "$MUTAGEN_COVERAGE_UPLOADER" == "true" ]]; then goveralls -coverprofile=combined.cover -service=travis-ci ; fi

# HACK: If we're doing a release deployment, convert the Windows bundles to zip
# format. This is a lot simpler than trying to add zip file support to the build
# script. Note that we don't convert the agent bundles - Mutagen knows how to
# read those and users don't need to unzip them (and shouldn't).
before_deploy:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then scripts/convert_windows_release_bundles.sh ; fi

# Upload build artifacts from macOS builders on tagged releases.
deploy:
  provider: releases
  api_key:
    secure: oGoH8k4iqfXizSDUNaFRMqG+q0hYjJcPQBkCSlDWC/enMtn2HyT4UI+vRCksastjNS6ltGrwlebKVyOzkWQCvN/apiteDHgcwPvaJr4ioEZ/UdNobbD2sRyQ6mntXZoQLmTCouDpj47xQA/8bpWSsKNJscIrWuzBr1IUCnDWGPR27ninXX7eueIB9W2BCiuaXvRcvOmLOQslQ+sZEsUjZ2tJ1IB2gQiQdE0yIeHR3A6WsEKkkQWecCnNvuuhtAJZ0bcvR/aKGm3NPPzmvNHu05whvb55qpWjVBdxExatHNXFal4xvesgmFGzlbxkTOHl6QMauuVPJ0ctAEsWMjeNGYHVtmjR7d9+bpgMhpTtxFz6j/HEVs1hzLcsE96LUkxsK6Mc6xpOVI41rsTMLNYIPqjcfBa4/VNUEBFbX8J68BhJ9Ou3zV1f1N1b4nm6PO3asfVgCbYQNTg0Yx3/27KlNzymccui/LmR3l9jbNdQ/KaH689ZFi6+kTL1U8/i/cPo3rv1goQM0vSbuUe9zoydlfCmn5mnFH85PV2/oW55NrTDoHOD6OMUMAma7c48I4+unVSdg4k3IM+YE0uXHJ/OyPifNUXgp+TMQRb5LerMfjvf7HMyMnPjZZsV4COb55hsdH3dx6Yp8BIUxtRV1yzWlBzRo3DIZ5QqYNydc4Cirok=
  skip_cleanup: true
  file:
    - build/mutagen_darwin_amd64.tar.gz
    - build/mutagen_dragonfly_amd64.tar.gz
    - build/mutagen_freebsd_386.tar.gz
    - build/mutagen_freebsd_amd64.tar.gz
    - build/mutagen_freebsd_arm.tar.gz
    - build/mutagen_linux_386.tar.gz
    - build/mutagen_linux_amd64.tar.gz
    - build/mutagen_linux_arm.tar.gz
    - build/mutagen_linux_arm64.tar.gz
    - build/mutagen_linux_mips.tar.gz
    - build/mutagen_linux_mips64.tar.gz
    - build/mutagen_linux_mips64le.tar.gz
    - build/mutagen_linux_mipsle.tar.gz
    - build/mutagen_linux_ppc64.tar.gz
    - build/mutagen_linux_ppc64le.tar.gz
    - build/mutagen_linux_s390x.tar.gz
    - build/mutagen_netbsd_386.tar.gz
    - build/mutagen_netbsd_amd64.tar.gz
    - build/mutagen_netbsd_arm.tar.gz
    - build/mutagen_openbsd_386.tar.gz
    - build/mutagen_openbsd_amd64.tar.gz
    - build/mutagen_openbsd_arm.tar.gz
    - build/mutagen_solaris_amd64.tar.gz
    - build/mutagen_windows_386.zip
    - build/mutagen_windows_amd64.zip
  on:
    repo: havoc-io/mutagen
    condition: '"$MUTAGEN_RELEASE_UPLOADER" == "true"'
    tags: true

# Send notifications.
notifications:
  email:
    - jacob@havoc.io
